@charset "utf-8";
@import 'variables.scss';

@mixin column-size($columns) {
  -webkit-column-count: $columns;
    -moz-column-count:  $columns;
    column-count:       $columns;
}

.photo-grid {
  -webkit-column-gap:  10px;
  -moz-column-gap:     10px;
  column-gap:          10px;
  -webkit-column-fill: balance ;
  -moz-column-fill:    balance ;
  column-fill:         balance;
  margin-bottom: $padding;

  &.product-grid {
    -webkit-column-gap:  $padding;
    -moz-column-gap:     $padding;
    column-gap:          $padding;
  }

  &.col-4 {
    @include column-size(4);
  }

  &.col-3 {
    @include column-size(3);
  }

  &.col-2 {
    @include column-size(2);
  }

  img, .item {
    display: inline-block;
    background-color: #fff;
    margin: 5px 1px 5px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    // padding: 12px 10px 10px 10px;
    max-width: 100%;
  }
}



@media (max-width: 990px) {
  .photo-grid.col-4 { @include column-size(3); }
  .photo-grid.col-3 { @include column-size(2); }
  .photo-grid.col-2 { @include column-size(1); }
}

@media (max-width: 700px) {
  .photo-grid.col-4 { @include column-size(2); }
  .photo-grid.col-3 { @include column-size(1); }
  .photo-grid.col-2 { @include column-size(1); }
}