---
title: About
---

%h1 About Purpose
%p.lead 
  %strong Purpose: 
  the feeling of being determined to do or achieve something

.photo-grid.col-3
  = image_tag 'angela.jpg', class: 'img-responsive'
  = image_tag 'logo.jpg', class: 'img-responsive'
  = image_tag 'belt-sander.jpg', class: 'img-responsive'
  = image_tag 'angela-working.jpg', class: 'img-responsive'

%p
  I began my career in NYC in the fashion industry. After a few years I founded Marmalade Prints, a children’s textile design business. Then my real J.O.B. began with my energetic son, Oliver, and a sweet girl named Ruby. A.K.A. the Rubinator. 

%p 
  During my past 11 years of  homemaking, I've become passionate about all things handmade and learning old techniques to use with in my modern designs. Woodblock carving and Leatherwork are my current focus bringing Purpose to life.

%hr

%p
  %a{href: 'mailto:angemorrow@gmail.com'}
    angemorrow@gmail.com