---
title: Purpose Art
---

%h1 
  Handmade Leather Goods

%p.lead
  %strong Purpose: 
  the feeling of being determined to do or achieve something

= image_tag 'tool_collage.jpg', class: 'img-responsive'
/ .photo-grid.col-2
/   = image_tag 'ball-jar.jpg', class: 'img-responsive'
/   = image_tag 'books.jpg', class: 'img-responsive'
/   = image_tag 'boxes.jpg', class: 'img-responsive'
/   = image_tag 'wallet-coffee.jpg', class: 'img-responsive'
/   = image_tag 'hanging-planters.jpg', class: 'img-responsive'
/   = image_tag 'planters.jpg', class: 'img-responsive'
  
