---
title: Life Style
---

%h1 Life Style
/ %p.lead
/   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
/   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
/   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
/   consequat. 


.photo-grid.col-2.product-grid
  - data.products.lifestyle.each do |product|
    .item.product
      = image_tag product[:image], class: 'img-responsive gallery'  

      %h4= product[:title]
      %p= product[:description]


