

%h1 I'm sorry, that class is sold out.
%p.lead
  Please sign up for emails about future classes on the left, or contact
  %a{href: 'mailto:angemorrow@gmail.com'} angemorrow@gmail.com
  directly for more class information.
