

%h1 Thanks! Your spot is reserved.
%p.lead
  I look forward to seeing you there. If you have any questions prior to the class please email me directly at
  %a{href: 'mailto:angemorrow@gmail.com'} angemorrow@gmail.com
