---
title: Leather Workshops
---

%h1 Workshops
%p.lead
  Leather work classes offered by Purpose. All classes are held at the Purpose studio located in
  %a{href: "https://www.google.com/maps/place/8012-8018+SE+13th+Ave,+Portland,+OR+97202/@45.4654353,-122.6545827,17z/data=!4m5!3m4!1s0x54950adb15efb42b:0x84ab3c28eea3f573!8m2!3d45.4654278!4d-122.6524638", target: "_blank"} Milieu
  %em (the old Homestead Supply Store)
  8012 13th Ave Portland, OR

.row
  .col-md-6.col-xs-12
    = image_tag("leather-keyring-preview.jpg", class: "gallery img-responsive")
    %h4 Create a Leather Keychain.

    %p
      %strong 2/11/18 | 10:00 - 11:30 AM


    %p
      In this hands-on class by Purpose, you will make your own leather keychain.

      You will be given pre-dyed and pre-cut leather to work with. Then, you will have the option to personalize your leather with metal stamps. You may also choose to punch holes and embroider your own design.

    %hr
    
    .row
      .col-xs-4
        :plain
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="WTLHDNYU2DQAQ">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
      .col-xs-8
        %strong $48.00


  .col-md-6.col-xs-12
    = image_tag("leather-wallet-preview.jpg", class: "gallery img-responsive")
    %h4 Create a Minimalist Leather Wallet.

    %p
      %strong 2/12/18 | 10:00 - 12:00 AM

    %p
      In this hands-on workshop, presented by Purpose, you will learn to make a minimalist wallet design. With your precut
      leather pieces, you will learn to edge dye, wax, burnish edges, chisel, and saddle stitch to complete your wallet.

    %p
      Decide at classtime if you would like to make one or two keychains. Second keychain an extra $10.00 material fee.

    %hr

    .row.center-xs
      .col-xs-4
        :plain
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="BG8MVA8ZLUDM8">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
      .col-xs-8
        %strong $20.00



%hr

.row
  .col-xs-12
    If you have any questions or need any additional info, please email
    %a{href: 'mailto:angemorrow@gmail.com'}
      angemorrow@gmail.com


-# Title of program: Leather Ball Jar Wrap
-# Description of program: In this hands-on workshop, presented by Purpose Handmade, you will learn to make a leather Ball jar wrap. With your precut leather pieces, you will learn to edge dye, wax, burnish edges, chisel, and hand stitch.

-# Title of program: Leather Sedum Planter
-# Description of program: In this hand-on class presented by Purpose, you will learn to make a leather planter. You will edge dye, wax, and burnish edges. Next, you will punch holes and stitch. Finally, you will choose a succulent, and plant it in a 4oz. Ball jar which fits nicely into the leather planter.
-# Type of program: Arts &amp; crafts
